{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WIKI - ED</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://icons8.com/icon/ZRiAFreol5mE/instagram">
    <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    <link href=" {% static 'css/style.css' %} " rel="stylesheet">
    <link href=" {% static 'css/video.css' %} " rel="stylesheet">

</head>
<section style="height: 60vh">
    <div class="container margen5-top">
        <div class="row">
            <div class="col-12 col-lg-6 card centrar">
                <div class="card-body centrar sin-margen-bottom">
                    <!--centrado de form-->
                    <form method="post" action="" id="formulario">
                        {% csrf_token %}
                        <table>
                            <div class="form_group">
                                {{ form.as_table }}
                            </div>
                        </table>
                        <div class="container margen5-top margen5-bottom">
                            <input type="submit" class="btn btn-success btn-l" id="agregar" value="Registrar">
                            <input type="reset" class="btn btn-primary btn-l" id="limnpiar" value="Limpiar">
                            <a href="{% url 'usuario' %}" class="btn btn-danger btn-l" id="cancelar" name="cancelar">Volver</a>
                        </div>
                        <div id="error" class="alert alert-success" role="alert">
                            {{ mensaje }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>